body {
    margin: 0;
}

canvas{
    position: absolute;
    top: 200px;
}

#background-layer{
    z-index: 0;
}

#game-layer{
    z-index: 1;
}

#canvas-wrap{
    position: relative;
}

#pown{
    opacity: 0;
}
